section{
    background-color: bisque;
    display: block;
    width: 380px;

    border: solid black;

}

div{
    background-color: rgb(210, 224, 220);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

header{
    text-align: center;
    border: solid black;
    font-size: 30px;
    font-weight: bold;
    width: auto;
}

p{
    font-size: 40px;
}

h2{
    padding: 5px;
    border: solid blueviolet;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    border: solid black;
    font-size: 20px;
    width: auto;
    padding: 20px;
}